body{
    text-align: center;
}
div{
    margin: auto;
    height: 300px;
    width: 300px;
    border: 1px solid;
}
.box{
    height: 500px;
    width: 500px;
    background-color: pink;
    border: 1px solid,black;
}